<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="static\css\StylesIndex.css" />
  </head>
  <body>
    
    <div class="TituloGeral">
      <a href="http://127.0.0.1:5000" class="TituloGeralFree">

        <p class="titulo">Free Download</p>
        <p class="subtitulo">Downloads ilimitados e grátis...</p>

      </a>

      
    </div>

      <div class="cards">
        <a href="/mp3" class="card mp3">
            
            <p class="tip">Baixar MP3...</p>
            <p class="second-text">Baixe do YouTube para MP3</p>
            
        </a>
        <a href="/mp4" class="card mp4">
            <p class="tip">Baixar MP4...</p>
            <p class="second-text">Baixe do YouTube para MP4</p>
        </a>
      </div>

      <div class="tutorial">

        <h2 class="TituloTutorial">Tutorial</h2>

      </div>


      <div class="item-hints">
        <div class="hint" data-position="4">
          <span class="hint-radius"></span>
          <span class="hint-dot">Etapa 1</span>
          <div class="hint-content do--split-children">
            <p>Clique escolha a opção desejada;</p>
          </div>
        </div>
      </div>

      <div class="item-hints">
        <div class="hint" data-position="4">
          <span class="hint-radius"></span>
          <span class="hint-dot">Etapa 2</span>
          <div class="hint-content do--split-children">
            <p>Cole o link do video que deseja baixar;</p>
          </div>
        </div>
      </div>

      <div class="item-hints">
        <div class="hint" data-position="4">
          <span class="hint-radius"></span>
          <span class="hint-dot">Etapa 3</span>
          <div class="hint-content do--split-children">
            <p>Clique em "Baixar" e aguarde.</p>
          </div>
        </div>
      </div>

      

      <div class="Instrução">

        <h2 class="TituloInstrução">
          Baixe vídeos do YouTube grátis...
        </h2>

        <div id="Introdução">
            <p>
            Descubra a melhor maneira de baixar seus vídeos favoritos do YouTube
            gratuitamente em nosso site de downloads de vídeos de alta qualidade.

            Com uma interface simples e amigável, oferecemos a você a oportunidade
            de capturar e manter seus conteúdos preferidos para assistir offline,
            compartilhar com amigos ou criar sua própria biblioteca de
            entretenimento. Nossa plataforma de download de vídeos do YouTube é
            rápida, segura e totalmente gratuita. 
            </p>

            <p> 
            Basta colar o link do vídeo que
            deseja baixar e escolher o formato e a qualidade desejada. Oferece uma
            variedade de opções, incluindo formatos de áudio, vídeo e resoluções
            diferentes para atender às suas necessidades específicas. Além disso,
            nosso serviço é compatível com dispositivos móveis, computadores e
            tablets, tornando mais fácil para quem nunca gosta de vídeos do
            YouTube sem a necessidade de uma conexão à internet. 
            </p> 

            <p>
            Explore um mundo
            de conteúdo on-line e leve-o consigo onde quer que vá. Visite nosso
            site de downloads de vídeos do YouTube gratuitos hoje mesmo e
            experimente a conveniência de ter seus vídeos favoritos ao alcance de
            um clique. Baixar vídeos nunca foi tão simples e acessível.
            </p>
        </div>
    </div>
  </body>
</html>
