<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MP3 Download</title>
    <link rel="stylesheet" href="static\css\StylesMp3.css"/>
</head>
<body>
    
    <div class="TituloGeral">
      <a href="http://127.0.0.1:5000" class="TituloGeralFree">

        <p class="titulo">Free Download</p>
        <p class="subtitulo">Downloads ilimitados e grátis...</p>

      </a>
    </div>

      <div class="TituloMp3">

        <p>Baixar MP3...</p>

      </div>

      
      <form action="/mp3/baixando" method="post" id="formulario">

      <input id="input" name="input"  placeholder="INSIRA O LINK" type="text">
      <button class="buttonDownload">BAIXAR P/ MP3</button>

      </form>


      <p class="or">Ou</p>
    <button class="btnmudar">MUDAR P/ MP4</button>


      

</body>
</html>