<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MP4 Download</title>
    <link rel="stylesheet" href="static\css\StylesMp4.css"/>
</head>
<body>
    
    <div class="TituloGeral">
      <a href="/" class="TituloGeralFree">

        <p class="titulo">Free Download</p>
        <p class="subtitulo">Downloads ilimitados e grátis...</p>

      </a>

      
    </div>

    <div class="TituloMp4">

      <p>Baixar MP4...</p>

    </div>

    <form action="/mp4/baixando" method="post" id="formulario">

      <input id="input" name="input"  placeholder="INSIRA O LINK" type="text">
      <button class="buttonDownload">BAIXAR P/ MP4</button>

      </form>

    <p class="or">Ou</p>

    <button class="btnmudar">MUDAR P/ MP3</button>

</body>
</html>
